/* Base link style */
.custom-link {
  font-size: 1.1rem;       /* Increase text size */
  font-weight: 500;
  color: #333 !important;  /* Dark text */
  transition: all 0.3s ease;
}
/* .nav-items{
    font-size: 20px;
} */

/* Hover effect */
.custom-link:hover {
  color: #000 !important;        /* Darker on hover */
  transform: scale(1.1);
  font-size: 20px;         /* Slight zoom */
}

/* Active NavLink (react-router adds "active") */
.custom-link.active {
  color: #0d6efd !important;     /* Bootstrap primary */
  font-weight: 600;
}
